body {
  /* background: #eab0dc; */
  /* background-image: url(daan-evers-tKN1WXrzQ3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  font-family: ubuntu;
  /* width: 100vw; */
}
.hero-image {
  background-image: url("daan-evers-tKN1WXrzQ3s-unsplash.jpg");
  background-color: #b9b9b9;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  color: #fff;
  font-size: 54px;
  letter-spacing: 2px;
  margin-top: 50px;
  text-align: center;
}

.content {
  background: #fff;
  opacity: 0.95;
  max-width: 960px;
  margin: 20px auto;
  padding: 38px 30px;
  border-radius: 10px 120px 10px 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 20px;
  background: #f6f6f6;
  font-size: 20px;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 46px;
}

li:nth-child(even) {
  padding: 20px;
  background: #f2f2f2;
}

li span {
  display: block;
}

li span:nth-child(2) {
  font-size: 17px;
  margin-top: 6px;
  color: rgb(154, 156, 156);
}

/* cross element style */
li div {
  position: absolute;
  top: 0;
  right: 0px;
  background: rgba(187, 187, 187, 0.698);
  color: #fff;
  width: 20px;
  text-align: center;
  padding: 4px 2px;
  font-weight: bold;
  cursor: pointer;
}
li div:hover {
  background-color: rgba(83, 77, 77, 0.89);
}

form input {
  float: left;
  width: 38%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
}

form input:focus {
  outline: none;
  border-bottom: 3px solid #88236f;
  padding-bottom: 8px;
  transition: all ease 0.2s;
}

form:after {
  content: "";
  clear: both;
  display: block;
}

button {
  border: 0;
  background: rgb(53, 167, 167);
  border-radius: 10px;
  padding: 13px;
  width: 14%;
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: ubuntu;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(231, 231, 231);
}
button:hover {
  background-color: rgb(116, 100, 100);
  color: #fff;
}
